<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OAuth Tutorial</title>
    <meta charset="UTF-8">
    <style>
      body{
        font-family: arial;
        margin: 0;
      }
      nav{
        background: #ff5353;
        padding: 20px 10px;
      }
      nav ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
      }
      nav li{
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
      }
      nav a{
        color: #fff;
        font-size: 18px;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
      }
      main, header{
        max-width: 960px;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
      }

        
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home page</a>
          <a href="/auth/login">login</a>
          <a href="/auth/logout">logout</a>
        </li>
      </ul>
    </nav>
    <h1>Net Ninja OAuth tutorial </h1>
    <h2> Home page </h2>
    <main>
        hope it goes will
    </main>
  </body>
</html>