<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login pafe</title>
    <meta charset="UTF-8">
    <style>
      body{
          font-family: arial;
          margin: 0;
      }
      nav{
          background: #ff5353;
          padding: 20px 10px;
          display:flex;
          justify-content:center;
          align-items:center;
      }
      nav ul{
          max-width: 960px;
          margin: 0 auto;
          padding: 0;
      }
      nav li{
          list-style-type: none;
          display: inline-block;
          margin: 0 10px 0 0;
      }
      nav a{
          color: #fff;
          font-size: 18px;
          background: rgba(255,255,255,0.2);
          text-decoration: none;
          padding: 10px;
          display: block;
      }
      main, header{
          max-width: 960px;
          margin: 30px auto;
          padding: 0 10px;
          color: #333;
          display:flex;
          justify-content:center;
          align-items:center;
      }
      .google-btn{
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          padding: 15px;
          background: #ff5353;
          margin:10px;
      }
      .fb-btn{
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          padding: 15px;
          background: #4b6cb1;
          margin:10px;
      }
      .twitter-btn{
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          padding: 15px;
          background: #1da1f2;
          margin:10px;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home page</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/auth/logout">logout</a></li>
      </ul>
    </nav>
    <header>
     <h1>Log in using </h1>     
    </header>
    <main>
        <a class="google-btn" href="/auth/login/google">Google+</a>
        <a class="fb-btn" href="/auth/login/fb">Facebook+</a>
        <a class="twitter-btn" href="/auth/login/twitter">Twitter+</a>
    </main>
  </body>
</html>